.content_modal.container
    i.text-right.close.material-icons close
    .row.align-items-center.h-100.p-4
        .col-sm-12.col-md-6
            .row
                .col-8.col-md-10
                    .img-block
                        img.img-fluid(src=images['andrew-instagramm.jpg'] )
                .col-4.col-md-2
                    .img-block-mini.border
                            img.img-fluid( src=images['andrew-instagramm.jpg'])
                    .img-block-mini.border
                            img.img-fluid( src=images['andrew-facebook.jpg'])
        .col-sm-12.col-md-6.v-align.z-index-1000
            .header-portfolio.v-align
                h2 Андрей Гриневич
                .d-flex.align-items-center
                    small.btn-warning.tag.mr-2 facebook 
                    small.btn-warning.tag instagram
            .content-portfolio 
                p.my-3  
                    span Цель: 
                    | продвижение аккаунта мастера спорта международго класса по Карате, чемпиона Мира и Европы, члена Олимпийской сборной РБ
                
                p.mb-5  
                    span Результат: 
                    | Свыше 2500 уникальных посещений аккаунтов (заказчика) еженедельно, рост базы подписчиков на 150%, а также лайков и комментариев к постам/сториз. Показатели достигнуты без использования посевов
            .d-flex.justify-content-center
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star