.content_modal.container
    i.text-right.close.material-icons close
    .row.align-items-center.h-100.p-4
        .col-sm-12.col-md-6
            .row
                .col-8.col-md-10
                    .img-block
                        img.img-fluid(src=images['blackCat-instagramm.jpg'])
          
                .col-4.col-md-2
                    .img-block-mini.border
                        img.img-fluid( src=images['blackCat-instagramm.jpg'])
               
                    .img-block-mini.border
                        img.img-fluid( src=images['blackCat-vk.jpg'])
                
        .col-sm-12.col-md-6.v-align.z-index-1000
            .header-portfolio.v-align
                h2 BlackCat
                .d-flex.align-items-center
                    small.btn-warning.tag.mr-2 vk
                    small.btn-warning.tag instagram
            .content-portfolio 
                p.my-3  
                    span Цель: 
                    | запуск рекламной кампании в Insta, FB и VK к национальному конкурсу отбора участников Евровидения-2018
                
                p.mb-5  
                    span Результат: 
                    | Охват свыше 160 000 уникальных пользователей за 3 дня, привлечение новых лидов для компании.
            .d-flex.justify-content-center
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star