.content_modal.container
    i.text-right.close.material-icons close
    .row.align-items-center.h-100.p-4
        .col-sm-12.col-md-6
            .row
                .col-8.col-md-10
                    .img-block
                        img.img-fluid(src=images['bmw-instagramm.jpg'])
          
                .col-4.col-md-2
                    .img-block-mini.border
                        img.img-fluid( src=images['bmw-instagramm.jpg'])
                
                    .img-block-mini.border
                        img.img-fluid( src=images['bmw-facebook.jpg'])
                
        .col-sm-12.col-md-6.v-align.z-index-1000
            .header-portfolio.v-align
                h2 BMW CLUB
                .d-flex.align-items-center
                    small.btn-warning.tag.mr-2 facebook
                    small.btn-warning.tag instagram
            .content-portfolio 
                p.my-3  
                    span Цель: 
                    | Привлечение новой аудитории на форум клуба BMW через социальные сети Instagramm, Facebook
                
                p.mb-5  
                    span Результат: 
                    | Прирост посещаемости клубного форума на 25% за счет переходов из социальных сетей, а также рост аудитории и ее активности в Fb и Inst.
            .d-flex.justify-content-center
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star