.content_modal.container
    i.text-right.close.material-icons close
    .row.align-items-center.h-100.p-4
        .col-sm-12.col-md-6
            .row
                .col-8.col-md-10
                    .img-block
                        img.img-fluid(src=images['florart-instagramm.jpg'])
            
                .col-4.col-md-2
                    .img-block-mini.border
                        img.img-fluid(src=images['florart-instagramm.jpg'])
                
                
        .col-sm-12.col-md-6.v-align.z-index-1000
            .header-portfolio.v-align
                h2 FlorArt
                .d-flex.align-items-center
                    small.btn-warning.tag instagram
            .content-portfolio 
                p.my-3  
                    span Цель: 
                    | консультация в составление контент-плана и стратегии развития insta-аккаунта салона цветов
                
                p.mb-5  
                    span Результат: 
                    | Первые заказы спустя 5 дней после старта реализации предложенной стратегии, значительный рост количества лидов и базы подписчиков.
            .d-flex.justify-content-center
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star