.content_modal.container
    i.text-right.close.material-icons close
    .row.align-items-center.h-100.p-4
        .col-sm-12.col-md-6
            .row
                .col-8.col-md-10
                    .img-block
                        img.img-fluid(src=images['monsik-instagramm.jpg'])
            
                .col-4.col-md-2
                    .img-block-mini.border
                        img.img-fluid(src=images['monsik-instagramm.jpg'])
                    .img-block-mini.border
                        img.img-fluid(src=images['monsik-vk.jpg'])
             
                    .img-block-mini.border
                        img.img-fluid(src=images['monsik-facebook.jpg'])
        .col-sm-12.col-md-6.v-align.z-index-1000
            .header-portfolio.v-align
                h2 Монсики
                .d-flex.align-items-center
                    small.btn-warning.tag facebook 
                    small.btn-warning.tag.mx-2 vk
                    small.btn-warning.tag instagram
            .content-portfolio 
                p.my-3  
                    span Цель: 
                    | привлечение клиентов в первый детский центр развития эмоционального интеллекта «Монсики»
                
                p.mb-5  
                    span Результат: 
                    | Увеличение охватов аудитории на 300%, формирование весомого количества новых групп учеников из заявок, поступивших через социальные сети.
            .d-flex.justify-content-center
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star