.content_modal.container
    i.text-right.close.material-icons close
    .row.align-items-center.h-100.p-4
        .col-sm-12.col-md-6
            .row
                .col-8.col-md-10
                    .img-block
                        img.img-fluid(src=images['ptichki-instagramm.jpg'])
                .col-4.col-md-2
                    .img-block-mini.border
                        img.img-fluid(src=images['ptichki-instagramm.jpg'])
                    .img-block-mini.border
                        img.img-fluid(src=images['ptichki-vk.jpg'])
                    .img-block-mini.border
                        img.img-fluid(src=images['ptichki-facebook.jpg'])
        .col-sm-12.col-md-6.v-align.z-index-1000
            .header-portfolio.v-align
                h2 Ptichki Dress
                .d-flex.align-items-center
                    small.btn-warning.tag facebook 
                    small.btn-warning.tag.mx-2 vk
                    small.btn-warning.tag instagram
            .content-portfolio 
                p.my-3  
                    span Цель: 
                    | организация процесса продаж через социальные сети женской дизайнерской одежды
                
                p.mb-5  
                    span Результат: 
                    | Реализация системы продаж через социальные медиа-каналы, рост базы потенциальных клиентов в бизнес-аккаунтах заказчика.
            .d-flex.justify-content-center
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star