.content_modal.container
    i.text-right.close.material-icons close
    .row.align-items-center.h-100.p-4
        .col-sm-12.col-md-6
            .row
                .col-8.col-md-10
                    .img-block
                        img.img-fluid(src=images['oblako-instagramm.jpg'])
                .col-4.col-md-2
                    .img-block-mini.border
                        img.img-fluid( src=images['oblako-instagramm.jpg'])
                    .img-block-mini.border
                        img.img-fluid( src=images['oblako-vk.jpg'])
                    .img-block-mini.border
                        img.img-fluid( src=images['oblako-facebook.jpg'])
        .col-sm-12.col-md-6.v-align.z-index-1000
            .header-portfolio.v-align
                h2 В облаках
                .d-flex.align-items-center
                    small.btn-warning.tag facebook 
                    small.btn-warning.tag.mx-2 vk
                    small.btn-warning.tag instagram
            .content-portfolio 
                p.my-3  
                    span Цель: 
                    | рост объема продаж салона красоты и числа активной аудитории в аккаунтах
                
                p.mb-5  
                    span Результат: 
                    | Появление регулярных заказов через аккаунты с социальных сетях, рост количества звонков в салон.
            .d-flex.justify-content-center
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star
                i.material-icons.text-warning    star