.content_modal.container
    
    i.text-right.close.material-icons close
    .row.mt-5
        .col-12
            h3.m-0.p-0.text-center.text-uppercase.text-dark FlorArt
    .row.justify-content-center.my-5
        .col-10
            h5.text-center.text-dark консультация в составление контент-плана и стратегии развития insta-аккаунта салона цветов
    .row.my-5.justify-content-center
        .col-sm-12.col-md-5
            .img-block.shadow.mb-5
                img(src=images['florart-instagramm.jpg'])
        .col-sm-12.col-md-5
            h5.text-uppercase instagramm
            ul
                li 
                    b Тип: 
                    | Бизнес
                li 
                    b Cоциальная сеть: 
                    |INSTAGRAMM
                li 
                    b Задача:  
                    | консультация в составление контент-плана и стратегии развития insta-аккаунта салона цветов
                li 
                    b Результат:  
                    | текст текст текст текст текст
    