.content_modal.container
    
    i.text-right.close.material-icons close
    .row.mt-5
        .col-12
            h3.m-0.p-0.text-center.text-uppercase.text-dark Ptichki Dress
    .row.justify-content-center.my-5
        .col-10
            h5.text-center.text-dark  организация процесса продаж через социальные сети женской дизайнерской одежды
    .row.my-5.justify-content-center
        .col-sm-12.col-md-5
            .img-block.shadow.mb-5
                img( src=images['ptichki-instagramm.jpg'])
        .col-sm-12.col-md-5
            h5.text-uppercase instagramm
            ul
                li 
                    b Тип: 
                    |Бизнес
                li 
                    b Cоциальная сеть: 
                    |INSTAGRAMM
                li 
                    b Задача:  
                    | Задача: организация процесса продаж через социальные сети женской дизайнерской одежды
                li 
                    b Результат:  
                    | текст текст текст текст текст
    .row.my-5.justify-content-center.row-revers
        .col-sm-12.col-md-5
            .img-block.shadow.mb-5
                img(src=images['ptichki-facebook.jpg'])
        .col-sm-12.col-md-5
            h5.text-uppercase facebook
            ul
                li 
                    b Тип: 
                    |Бизнес
                li 
                    b Cоциальная сеть: 
                    | Facebook
                li 
                    b Задача:  
                    | организация процесса продаж через социальные сети женской дизайнерской одежды
                li 
                    b Результат:  
                    | текст текст текст текст текст
    .row.my-5.justify-content-center
        .col-sm-12.col-md-5
            .img-block.shadow.mb-5
                img(src=images['ptichki-vk.jpg'])
        .col-sm-12.col-md-5
            h5.text-uppercase Вконтакте
            ul
                li 
                    b Тип: 
                    |Бизнес
                li 
                    b Cоциальная сеть: 
                    | Вконтакте
                li 
                    b Задача:  
                    | организация процесса продаж через социальные сети женской дизайнерской одежды
                li 
                    b Результат:  
                    | текст текст текст текст текст
       
  