.container_preload
    .container
        .row.align-items-center 
            .col-sm-12.col-md-6.container_text.d-flex.justify-content-md-end.justify-content-sm-center
                .my_foto
                    img(src=img, alt="my foto")
            .col-sm-12.col-md-6.container_text.d-flex.justify-content-md-start.justify-content-sm-center
                .text
                    h3=header
                    p=text
                    a(href="https://github.com/egor1991mac/projectCode") проекты на github...
    .scroll
        .scroll-downs
            .mousey
                .scroller