form#contactUsForm
    .form-item.my-3
        input.form-control(id="cemail" name="email"  type="text" required placeholder="Email")
    .form-item.my-3
        input.form-control(type="text" id="cname" name="name" required placeholder="Ваше имя")
    .form-item.my-3.d-flex
        select.mx-1(id="ccounrty" name="country")
            option RUS
            option BEL
            option KZ
            option UKR
        input.form-control.w-85(type="text" id="cphone" name="phone" placeholder="Ваш контактный телефон")
    .form-item.mt-3
        button.btn.btn-dark.w-100 Отправить