#contact.row
  .col-md-6.col-sm-12.col-xs-12.d-flex.justify-content-sm-start.justify-content-md-end.align-items-center
    h2.display-4  Контакты
  .col-md-6.col-sm-12.col-xs-12.d-flex.align-items-center
    ul.contact
      li
        img(src=velcom, alt="velcom" width="20px" height="15px")
        span +375(44)-571-21-05
      li
        img(src=life, alt="life" width="20px" height="20px")
        span +375(25)-922-40-96
      li
        img(src=viber, alt="viber" width="20px" height="20px")
        span +375(44)-571-21-05
      li
        img(src=gm, alt="gmail" width="20px" height="20px")
        span egor1991mac@gmail.com