extends ../base.jade
block main
  #preload
  .container-fluid.wrap
    .row.box
      .container
        .content_page.d-flex.align-items-center
          #content.col-12
  .container-fluid
    #nav.row.fixed-bottom
            
      
    
    
        