#aboute
    h2.display-4 Немного о себе
    p Хотел бы еще раз с вами поздороваться. Здравствуйте! Сегодня вы зашли ко мне на страничку что бы познакомиться. Так вот. В этом разделе я немного расскажу о себе.
    p Мне 26 лет. Родом из Беларуси г. Минск. Где сейчас и живу. Но хотелось бы в будущем сменить место жительства на страны с гористой местностью или морем. 
    p Закончил в 2013 году Белорусский Государственный Технологический Университет. И вышел оттуда с красивым синим дипломом. В котором стояла оценка 8 из 10. Получив при этом специальность "Инженер программист".
    p После окончания университета по специальности работать не захотел. А решил по жить в свое удовольствие.
    p Сейчас попробовав себя в разных сферах. Пришел к выводу. Что бы исполнить свои желания, необходимо влиться в "IT" индустрию и постараться добиться успеха там.
    p Что касаемо моих личных качеств. По природе я лидер. Легко нахожу общий язык с людьми. Придирчев к себе, целеустремлен, пунктуален cпособен к самообучению. 
