<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="Агентство эффективного интернет-маркетинга по раскрутке личных аккаунтов или вашего бизнеса: Youtube, Instagram, Facebook, Вконтакте, Одноклассники, LinkedIn …")
        meta(name="description" content="Создание канала на Youtube под ключ, продвижение инстаграм-аккаунтов, ведение фейсбук (страницы и группы), администрирование вк и ок, таргетированная реклама")
        meta(name="description" content="Телефоны и адреса smm-агенства Брендс энд Трендс в Спб (Россия) и Минске (Беларусь)")
        
        
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
        
        title Mi tallent
   
    body
        include ./templates/modal.jade
        include ./templates/signIn_form.jade
        include ./templates/header.jade
        include ./templates/tallent.jade
        include ./templates/news.jade   
        include ./templates/footer.jade
        