#portfolio.row
  .col-md-6.col-sm-12.col-xs-12.d-flex.justify-content-sm-start.justify-content-md-end.align-items-center
    h2.display-4  Проекты
  .col-md-6.col-sm-12.col-xs-12.d-flex.align-items-center
    #slider
     
